<section id="dashboard" style="margin-top: 0px">
<!--
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>
-->

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span3">
      <div class="well">
          <h1>10 flows</h1>
          <h2>being tracked</h2>
      </div>
    </div>

    <div class="span3">
      <div class="well">
          <h1>20 apps</h1>
          <h2>under monitor</h2>
      </div>
    </div>

    <div class="span3">
      <div class="well">
          <h1>3 sources</h1>
          <h2>being collected<h2>
      </div>
    </div>

    <div class="span3">
      <div class="well">
          <h1>3.14 PB</h1>
          <h2>traffic in total<h2>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="span5">
        (placeholder for stat graph 1)
        <!--
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
        -->
    </div>
    <div class="span2">
        <a class="btn btn-primary btn-large" href="/query">make a query</a>
    </div>
    <div class="span5">
        (placeholder for stat graph 2)
        <!--
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>
        -->
    </div>
  </div>

</section>
