{% extends "query.base.html" %}

{% block pageBody %}

    <div class="container-fluid">

      <div class="row-fluid">
          <div class="span3 pagination-centered">
              {% include "queryForm.inc.html" with queryForm=queryForm %}
          </div>
          <div class="well span9">
              {% include "queryResult.inc.html" with resultsCount=resultsCount %}
          </div>
      </div>
    </div>

    <hr>

    <script type="text/javascript">
        var repartee = repartee || {};
        repartee.queryid = "{{ queryID }}";
    </script>

{% endblock %}
