<!--
<h2>Results</h2>
<hr>
-->
<div class="tabbable">
    <span class="pull-right badge badge-info">{{resultsCount}} flows has been filtered</span>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#result-graph" data-toggle="tab">graph</a></li>
        <li><a href="#result-table" data-toggle="tab">table</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="result-graph">
            graph loading
        </div>
        <div class="tab-pane" id="result-table">
            table loading
        </div>
    </div>
</div>
